.favoritesCard {
	margin-top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.favoritesPoster {
	width: 120px;
	height: 80px;
	object-fit: cover;
	border-radius: 0.25rem;
}

.favoritesNumber {
	font-family: "Raleway", cursive;
	justify-content: center;
	color: grey;
	background-color: white;
	margin: 0.25px;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	position: absolute;
	top: -20px;
	left: -20px;
	text-align: center;
}

.favoritesNumberOneDigit {
	font-size: 2rem;
}

.favoritesNumberTwoDigit {
	font-size: 1.5rem;
}

.favoritesTitle {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
	width: 100%;
	font-size: 2rem;
	vertical-align: middle;
	display: inline;
	/* overflow: hidden; */
	font-family: "Times New Roman", Times, serif;
	background-color: white;
}

.DndLink {
	font-size: medium;
	position: relative;
	bottom: 10px;
}
