.movieRow {
  margin-top: 15px;
}

.card {
  margin-top: 15px;
}


.furnitureListCard {
  position: relative;
  width: 300px;
}

div.poster {
  margin: 10px;
}

.smallPoster {
  user-select: none;
  width: 298px;
  min-height: 300px;
  height:300px;
  object-fit: cover;
}

.star {
  position: absolute;
  width: 30em;
  height: 1.8em;
  filter: drop-shadow(2px 4px 6px rgb(219, 211, 211));
}

.starFill {
  fill: rgb(214, 57, 83);
}

.starEmpty {
  /* fill: rgb(214, 57, 83); */
  fill: gray;
}

.category {
  color: black;
  padding: 0;
  margin-bottom: 40px;
  font-size: 18px;
}

.title {
  color: black;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.name {
  margin-bottom: 5px;
}

.address {
  font-size: 12px;
}

.button {
  float: right;
}