div.reviewsText {
  width: 100%;
}

div.poster {
  margin: 10px;
}

p.review {
  white-space: pre-line;
}

.bigPicture {
  float: right;
}

.navbar-brand.category {
  color: black;
  padding: 0;
  font-size: 50px;
  text-align: center;
}

.div.title{
  display: flex;
}


.delete {
  float: right;
}

.edit {
  float: right;
}
