.favoritesPanel {
	width: 33%;
	min-height: 100vh;
	padding: 1rem;
	font-size: 2em;
}

.favoritesContainer {
	display: inblock;
}

.favoritesList {
	width: 25em;
	margin: 1em;
}

.uploadButton {
  margin: 10px;
}