.App {
  background-color: rgb(249, 249, 249);
  min-height: 100vh;
  padding-bottom: 100px;
}

body {
  overflow-x: hidden;
}

.text-to-right {
  direction: rtl;
  text-align: right;
}

.navbar-brand.brand {
  color: black;
  padding: 0;
}

.navbar-nav.nav-link.link {
  color: white!important;
}

.navItem {
  color: white!important;
}

.nav-link {
  padding: 0;
}

.main-container {
  margin-top: 20px;
}

img.moviesLogo {
  height: 50px;
  padding-right: 5px;
}


